<!-- Sending our application to our Angular view -->
<div class="row">
	
	<div class="col-sm-12">

		<div class="row">
			
			<div ui-view="categories"></div>
			
			<div ui-view="bookmarks"></div>

		</div>
		<!-- END Row -->

	</div>
	<!-- END Col-sm-12 -->

</div>
<!-- END Row -->