<div class="col-sm-12">

	<div class="col-sm-4 col-sm-offset-4">

		<h2>Add a Category</h2>

		<form ng-submit="addCategory()">
			
			<div class="form-group">
				<input type="text" class="form-control" name="title" id="title" placeholder="Category Title" ng-model="formData.title">
			</div>

			<div class="form-group">
				<textarea class="form-control" name="description" id="description" placeholder="Category Description..." ng-model="formData.description"></textarea>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Add Category">
			</div>

		</form>
	
	</div>	

</div>